.container {
    /* deg means degrees*/
    background-image: linear-gradient(75deg, blue, green);
    /*background-image: radial-gradient(75deg, blue, green);  forms a circle*/
    /*background-image: conic-gradient(red 0deg, red90deg, green 90deg,green 270deg, blue);  joins the center*/
    height: 300px;
    width: 400px;
    border-radius: 50%;
}