/* defining a variable */
:root{
    /* global variable */
    --primarycolor:rgb(22, 22, 147);
}

body {
    background-color: var(--primarycolor);
}

h2{
    border-bottom: 2px solid var(--primarycolor);
}

.container{
    --white:#ffffff;
    color: var(--primarycolor);
    /* local variable */
    background-color: var(--white);
    padding: 20px;
}

button{
    background-color: #ffffff;
    color: var(--primarycolor);
    border: 1px solid var(--primarycolor);
    padding: 5px;
}

#div1{
    height: 500px;
    /*width: 100%;*/
    /*width: calc(100% - 75px);*/
    width: max(500px, 200px);
    border: 2px solid blue;
    margin-bottom: 20px;
}