* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tainer{
    border: 2px solid blue;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(43, 123, 105, 0.5) 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(foodiesfeed.com_burger-with-melted-cheese.jpg);
    background-position: center;
    background-size: cover;
}

#image{
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    
    
}