div{
    width: 200px;
    height: 100px;
    border: 2px solid red;
    transition: 3s;
    margin-bottom: 20px;
    transition-delay: 1s;
    transform: 3s;
    /*transform: translate(100px, 50px);*/
    /* to increase the size of transform eg = transform: scale(1, 2);*/
}

div:hover{
    width: 400px;
    height: 200px;
    transform: rotate(180deg);
    border: 2px solid blue;
}

.container1{
    transition-timing-function: ease;
}

.container1{
    transition-timing-function: ease-in;
}

.container1{
    transition-timing-function: ease-out;
}

.container1{
    transition-timing-function: ease-in-out;
}

.container1{
    transition-timing-function: linear;
}

.container1{
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}